.bbslist{
	border:0;
}

.bbslist th{
	padding:8px;
	border-bottom:1px solid #c4c4c4;
}
.bbslist td{
	padding:6px;
	text-align:center;
	background-color:white;
	border-bottom:1px solid #c4c4c4;
}
.bbswrite{border:0;}

.bbswrite th{
	padding:5px;
	width:20%;
	background-color:#ebebeb;
	border-bottom:1px solid #c4c4c4;
}
.bbswrite td{
	padding:5px;
	width:80%;		
	text-align:left;
	background-color:white;
	border-bottom:1px solid #c4c4c4;
}	

.bbsview th{
	padding:5px;
	width:15%;
	background-color:#ebebeb;
	border-bottom:1px solid #c4c4c4;
}
.bbsview td{
	padding:5px;
	width:35%;		
	text-align:left;
	background-color:white;
	border-bottom:1px solid #c4c4c4;
}	