/* LAYOUT */
#wrap { overflow:hidden; min-width:1400px; }
#header { position:absolute; width:100%; min-height:139px; min-width:1400px; background:url(../images/inc/header_bg.png) repeat-x left top; -moz-box-shadow:0 3px 5px #c4c4c4; -webkit-box-show:0 3px 5px #c4c4c4; box-shadow:0 3px 5px #c4c4c4; }
#container { margin-top:139px; min-height:700px; min-width:1400px; }
#footer { overflow:hidden; margin-top:20px; background-color:#f6f6f6; border-top:1px solid #e5e4e5; min-width:1400px; }

/* HEADER */
#header .area { position:relative; width:1200px; margin:0 auto; }
#header .area h1 { margin:0; padding:0; }
#header .area h1 img { margin-top:31px; }

/* MENU */
#header .area .gnb { position:absolute; right:0; top: 0;}
#header .area .gnb > ul { margin:0; padding:0;}
#header .area .gnb > ul > li {  height: 100px; position: relative; list-style:none; float:left; margin-left:40px; }
#header .area .gnb > ul > li > a { font-family:'Noto Sans KR'; font-size:20px; line-height: 100px; font-weight:500; color:#fff; display:block; }
#header .area .gnb a:hover { color:#fff600; }

#header .area .subnav { display: none;position: absolute; height: 39px; padding: 0;min-width: 500px;}
#header .area .subnav li { line-height: 39px;list-style:none; display: inline-block; margin:0 10px; }
#header .area .subnav li > a { font-weight:bold; font-size:13px; line-height: 40px;}
#header .area .gnb_sub:after { content:""; clear:both; display:block; }
#header .area .subnav a { font-family:'Nanum Gothic', 'NanumGothic', '나눔고딕'; font-size:12px; line-height:38px; color:#000000; display:block; }
#header .area .subnav a:hover { color:#0067a6; }
[class*="sub-"] {
}
.sub-1 {
	margin-left: -132px;
}
.sub-2 {
	margin-left: -132px;
}
.sub-3 {
	margin-left: -95px;
}
.sub-4 {
	margin-left: -55px;
}
.sub-5 {
	margin-left: -160px;
}
.sub-6 {
	margin-left: -35px;
}
.sub-7 {
	margin-left: -155px;
}
.sub-8 {
	margin-left: -346px;
}
/*메뉴 끝*/

#header .area .lnb { position:absolute; left:2px; top:107px; }
#header .area .lnb ul { margin:0; padding:0; }
#header .area .lnb li { list-style:none; float:left; margin-right:4px; border:1px solid #cccccc; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; background: #ebebeb; /* Old browsers */
background: -moz-linear-gradient(top,  #ebebeb 0%, #dcdcdc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#dcdcdc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ebebeb 0%,#dcdcdc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ebebeb 0%,#dcdcdc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ebebeb 0%,#dcdcdc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ebebeb 0%,#dcdcdc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */ }
#header .area .lnb a,
#header .area .lnb a:hover { padding:4px 10px; font-family:'Nanum Gothic', 'NanumGothic', '나눔고딕'; font-size:12px; color:#2f2f2f; display:block; }

/* CONTAINER */
#container > .head { overflow:hidden; background-color:#f4f4f4; border-bottom:1px solid #d3d3d3; }
#container > .head > .area { position:relative; width:1200px; margin:30px auto; }

/* LOGIN */
#container > .head > .area .login { position:relative; height:240px; margin:0 930px 0 0; border:1px solid #dddddd; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; background-color:#ffffff; }
#container > .head > .area .login .title { height:36px; border-top:3px solid #006ebe; border-top-left-radius:4px; -moz-border-top-left-radius:4px; -webkit-border-top-left-radius:4px; border-top-right-radius:4px; -moz-border-top-right-radius:4px; -webkit-border-top-right-radius:4px; font-family:Gulim; font-size:12px; line-height:36px; color:#0166b0; font-weight:bold; letter-spacing:1px; text-align:center; }
#container > .head > .area .login .login_area { position:relative; height:140px; background-color:#e4f1fd; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd; }
#container > .head > .area .login .login_area .input_id { position:absolute; width:160px; height:30px; left:20px; top:26px; }
#container > .head > .area .login .login_area .input_id input { padding-left:10px; width:100%; height:30px; font-family:gulim; font-size:12px; color:#8e8e8e; border:1px solid #d4d4d4; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
#container > .head > .area .login .login_area .input_pw { position:absolute; width:160px; height:30px; left:20px; top:60px; }
#container > .head > .area .login .login_area .input_pw input { padding-left:10px; width:100%; height:30px; font-family:gulim; font-size:12px; color:#8e8e8e; border:1px solid #d4d4d4; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
#container > .head > .area .login .login_area .btn_login { position:absolute; width:64px; height:64px; left:184px; top:26px; border:1px solid #007cc7; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; text-align:center; background: #0a98e9; /* Old browsers */
background: -moz-linear-gradient(top,  #0a98e9 0%, #007ed2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a98e9), color-stop(100%,#007ed2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0a98e9 0%,#007ed2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0a98e9 0%,#007ed2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0a98e9 0%,#007ed2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0a98e9 0%,#007ed2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a98e9', endColorstr='#007ed2',GradientType=0 ); /* IE6-9 */ }
#container > .head > .area .login .login_area .btn_login a,
#container > .head > .area .login .login_area .btn_login a:hover { font-family:gulim; font-size:12px; line-height:62px; color:#fff; display:block; }
#container > .head > .area .login .login_area .check_area { position:absolute; left:20px; top:100px; }
#container > .head > .area .login .login_area .check_area span { display:inline-block; vertical-align:middle; color:#6b6b6b; }
#container > .head > .area .login .login_area .check_area span.type01 { margin-right:10px; }
#container > .head > .area .login .login_btn { margin:15px 0 0; }
#container > .head > .area .login .login_btn ul { margin:0; padding:0; font-size:0; text-align:center; }
#container > .head > .area .login .login_btn li { list-style:none; display:inline-block; height:26px; margin:0 4px; border:1px solid #cecece; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; text-align:center; background: #f1f1f1; /* Old browsers */
background: -moz-linear-gradient(top,  #f1f1f1 0%, #e6e6e6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f1f1f1 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f1f1f1 0%,#e6e6e6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f1f1f1 0%,#e6e6e6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f1f1f1 0%,#e6e6e6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */ }
#container > .head > .area .login .login_btn a,
#container > .head > .area .login .login_btn a:hover { color:#6b6b6b; line-height:24px; display:block; }

/* SLIDE */
#container > .head > .area .slide { position:absolute; width:656px; left:290px; top:0; }
#container > .head > .area .slide ul { margin:0; padding:0; }
#container > .head > .area .slide li { list-style:none; }

/* HEAD BANNER */
#container > .head > .area .banner { position:absolute; right:0; top:0; }
#container > .head > .area .banner ul { margin:0; padding:0; }
#container > .head > .area .banner li { list-style:none; line-height:0; }

/* 고객지원센터 */
#container > .body { position:relative; width:1200px; margin:0 auto; }
#container > .body > .side_left { position:absolute; width:270px; left:0; top:0; }
#container > .body > .side_left > .customer { overflow:hidden; height:130px; margin-top:29px; background:url(../images/inc/customer_bg.png) no-repeat left top; }
#container > .body > .side_left > .customer h2 { margin:18px 0 0 21px; font-family:'Nanum Gothic', 'NanumGothic', '나눔고딕'; font-size:15px; color:#000000; font-weight:bold; }
#container > .body > .side_left > .customer .tel { margin:6px 0 0 19px; font-family:'Nanum Gothic', 'NanumGothic', '나눔고딕'; font-size:25px; color:#015f98; font-weight:800; }
#container > .body > .side_left > .customer p { margin:2px 0 0 21px; font-family:'Nanum Gothic', 'NanumGothic', '나눔고딕'; font-size:13px; color:#2e3032; line-height:20px; }

/* 은행 */
#container > .body > .side_left > .bank { margin:10px 0 0 0; height:103px; border:2px solid #c9c9c9; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
#container > .body > .side_left > .bank h2 { margin:17px 0 0; font-family:gulim; font-size:12px; color:#454545; font-weight:bold; text-align:center; }
#container > .body > .side_left > .bank .list { margin:7px 0 0 22px; }
#container > .body > .side_left > .bank .list span { display:inline-block; vertical-align:middle; margin-bottom:4px; line-height:0; }
#container > .body > .side_left > .bank .list span.type01 { margin-left:14px; font-family:'Nanum Gothic', 'NanumGothic', '나눔고딕'; font-size:14px; line-height:24px; color:#454545; letter-spacing:-1px; }

/* 서비스안내 */
#container > .body > .side_left > .service { margin:10px 0 0 0; height:408px; border:1px solid #dddddd; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
#container > .body > .side_left > .service .title { line-height:0; }
#container > .body > .side_left > .service .list { }
#container > .body > .side_left > .service .list ul { margin:0; padding:0; text-align:center; }
#container > .body > .side_left > .service .list li { list-style:none; display:inline-block; width:117px; height:110px; margin:0 3px 6px; border:1px solid #d3d3d3; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; background-color:#f9f9f9; }
#container > .body > .side_left > .service .list .thum { line-height:0; text-align:center; }
#container > .body > .side_left > .service .list .thum_text { margin-top:4px; font-family:gulim; font-size:12px; line-height:16px; color:#454545; text-align:center; }

/* 조달청 계약요청현황 */
#container > .body > .side_left > .pps { margin:4px 0 0 0; height:103px; border:2px solid #84c0ff; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
#container > .body > .side_left > .pps .title { margin-top:12px; line-height:0; text-align:center; }
#container > .body > .side_left > .pps .list { }
#container > .body > .side_left > .pps .list ul { margin:0; padding:0; font-size:0; text-align:center; }
#container > .body > .side_left > .pps .list li { list-style:none; display:inline-block; margin:0 3px; }

/* 발주계획현황 */
#container > .body > .side_left > .order { margin:10px 0 0 0; }

/* 1순위낙찰 */
#container > .body > .side_center { margin:0 254px 0 290px; }
#container > .body > .side_center .celebrate { }
#container > .body > .side_center .celebrate .title { line-height:0; }
#container > .body > .side_center .celebrate .list { border-left:3px solid #ff6a1a; border-right:3px solid #ff6a1a; border-bottom:3px solid #ff6a1a; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
#container > .body > .side_center .celebrate .list ul { margin:0; padding:0; }
#container > .body > .side_center .celebrate .list li { position:relative; list-style:none; height:39px; border-top:1px solid #d6d6d6; }
#container > .body > .side_center .celebrate .list li:nth-child(even) { background-color:#f9f9f9; }
#container > .body > .side_center .celebrate .list li:first-child { border-top:none; }
#container > .body > .side_center .celebrate .list .subject { font-weight:bold;margin:0 290px 0 28px; font-family:gulim; font-size:12px; line-height:39px; color:#454545; }
#container > .body > .side_center .celebrate .list .company { font-weight:bold;position:absolute; width:160px; left:360px; top:0; font-family:gulim; font-size:12px; line-height:39px; color:#454545; text-align:center; }
#container > .body > .side_center .celebrate .list .money { font-weight:bold;position:absolute; right:28px; top:0; font-family:gulim; font-size:12px; line-height:39px; color:#454545; text-align:right; }
#container > .body > .side_center .celebrate .list:after { content:""; clear:both; display:block; }

/* 게시글추출 */
#container > .body > .side_center .board { margin-top:20px; }
#container > .body > .side_center .board .tab { border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; border-left:1px solid #cccccc; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
#container > .body > .side_center .board .tab ul { margin:0; padding:0; }
#container > .body > .side_center .board .tab li { list-style:none; float:left; width:25%; border-right:1px solid #cccccc; text-align:center; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
#container > .body > .side_center .board .tab:after { content:""; clear:both; display:block; }
#container > .body > .side_center .board .tab a { font-family:'Noto Sans KR'; font-size:14px; line-height:38px; font-weight:400; color:#666666; display:block; }
background: -moz-linear-gradient(top,  #09a8ff 0%, #006bf3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#09a8ff), color-stop(100%,#006bf3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #09a8ff 0%,#006bf3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #09a8ff 0%,#006bf3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #09a8ff 0%,#006bf3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #09a8ff 0%,#006bf3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09a8ff', endColorstr='#006bf3',GradientType=0 ); /* IE6-9 */ }
#container > .body > .side_center .board .tab li.select { }
#container > .body > .side_center .board .tab li.active a,
#container > .body > .side_center .board .tab li.select a:hover { font-family:'Noto Sans KR'; font-size:14px; line-height:38px; font-weight:500; color:#fff; background: #09a8ff; /* Old browsers */
background: -moz-linear-gradient(top,  #09a8ff 0%, #006bf3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#09a8ff), color-stop(100%,#006bf3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #09a8ff 0%,#006bf3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #09a8ff 0%,#006bf3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #09a8ff 0%,#006bf3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #09a8ff 0%,#006bf3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09a8ff', endColorstr='#006bf3',GradientType=0 ); /* IE6-9 */ }
#container > .body > .side_center .board .table { }
#container > .body > .side_center .board .table table { display: none;}
/*#container > .body > .side_center .board .table table.active { display: block;}*/
#container > .body > .side_center .board .table th { height:38px; border-bottom:1px solid #000000; background-color:#f2f7fd; font-size:12px; line-height:38px; color:#000000; font-weight:bold; text-align:center; }
#container > .body > .side_center .board .table td { padding:11px 0 10px; border-bottom:1px solid #d6d6d6; font-size:12px; line-height:12px; color:#454545; text-align:center; }
#container > .body > .side_center .board .table td.left { text-align:left; }


/* 우측배너 */
#container > .body > .side_right { position:absolute; width:234px; right:0; top:0; }
#container > .body > .side_right .side_banner01 { margin-top:29px; line-height:0; }
#container > .body > .side_right .side_banner02 { margin-top:8px; line-height:0; }
#container > .body > .side_right .side_banner03 { margin-top:8px; }
#container > .body > .side_right .side_banner03 ul { margin:0; padding:0; }
#container > .body > .side_right .side_banner03 li { list-style:none; line-height:0; }
#container > .body > .side_right .side_banner04 { margin-top:10px; line-height:0; }

/* CONTAINER */
#container > .sub_head { height:98px; background:url(../images/inc/sub_spot.jpg) no-repeat center top; background-color:#f1efec; border-bottom:1px solid #f1efec; }
#container > .sub_head > .area { position:relative; width:1200px; margin:0 auto; }

/* SUB LEFT */
#container > .sub_head > .area > .side_left { z-index:1; position:absolute; width:270px; left:0; top:0; }
#container > .sub_head > .area > .side_left > .left_menu_title { height:120px; font-family:'Noto Sans KR'; font-size:30px; line-height:120px; font-weight:600; color:#fff; text-align:center; background: #828282; /* Old browsers */
background: -moz-linear-gradient(top,  #828282 0%, #707070 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#828282), color-stop(100%,#707070)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #828282 0%,#707070 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #828282 0%,#707070 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #828282 0%,#707070 100%); /* IE10+ */
background: linear-gradient(to bottom,  #828282 0%,#707070 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#707070',GradientType=0 ); /* IE6-9 */ }
#container > .sub_head > .area > .side_left > .left_menu { border-bottom:2px solid #999999; }
#container > .sub_head > .area > .side_left > .left_menu ul { margin:0; padding:0; }
#container > .sub_head > .area > .side_left > .left_menu li { list-style:none; height:42px; background:url(../images/inc/left_menu_dot.png) no-repeat 238px 13px; border-top:1px solid #e9e9e9; }
#container > .sub_head > .area > .side_left > .left_menu li:first-child { border-top:none; }
#container > .sub_head > .area > .side_left > .left_menu a { padding-left:20px; font-family:'Nanum Gothic', 'NanumGothic', '나눔고딕'; font-size:14px; line-height:42px; color:#303030; font-weight:bold; display:block; }
#container > .sub_head > .area > .side_left > .left_menu a:hover { color:#de2528; }
#container > .sub_head > .area > .side_left > .left_menu li.select { }
#container > .sub_head > .area > .side_left > .left_menu li.select a,
#container > .sub_head > .area > .side_left > .left_menu li.select a:hover { padding-left:20px; font-family:'Nanum Gothic', 'NanumGothic', '나눔고딕'; font-size:14px; line-height:42px; color:#de2528; font-weight:bold; display:block; }

#container > .sub_head > .area > .side_left > .customer { overflow:hidden; height:130px; margin-top:29px; background:url(../images/inc/customer_bg.png) no-repeat left top; }
#container > .sub_head > .area > .side_left > .customer h2 { margin:18px 0 0 21px; font-family:'Nanum Gothic', 'NanumGothic', '나눔고딕'; font-size:15px; color:#000000; font-weight:bold; }
#container > .sub_head > .area > .side_left > .customer .tel { margin:6px 0 0 19px; font-family:'Nanum Gothic', 'NanumGothic', '나눔고딕'; font-size:25px; color:#015f98; font-weight:800; }
#container > .sub_head > .area > .side_left > .customer p { margin:2px 0 0 21px; font-family:'Nanum Gothic', 'NanumGothic', '나눔고딕'; font-size:13px; color:#2e3032; line-height:20px; }

#container > .sub_head > .area > .side_left > .bank { margin:10px 0 0 0; height:103px; border:2px solid #c9c9c9; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
#container > .sub_head > .area > .side_left > .bank h2 { margin:17px 0 0; font-family:gulim; font-size:12px; color:#454545; font-weight:bold; text-align:center; }
#container > .sub_head > .area > .side_left > .bank .list { margin:7px 0 0 22px; }
#container > .sub_head > .area > .side_left > .bank .list span { display:inline-block; vertical-align:middle; margin-bottom:4px; line-height:0; }
#container > .sub_head > .area > .side_left > .bank .list span.type01 { margin-left:14px; font-family:gulim; font-size:12px; line-height:24px; color:#454545; letter-spacing:-1px; }

#container > .body > .content { margin:20px 0 0 290px; }
#container > .body > .content .page_title { font-family:'Noto Sans KR'; font-size:28px; line-height:28px; font-weight:600; color:#191919; }
#container > .body > .content .page_area { margin:30px auto; }



/* FOOTER */
#footer .area { position:relative; width:1200px; margin:0 auto; }
#footer .area .menu { margin-top:35px; }
#footer .area .menu ul { margin:0; padding:0; }
#footer .area .menu li { list-style:none; float:left; padding-left:20px; background:url(../images/inc/footer_menu_bar.png) no-repeat 10px 1px; }
#footer .area .menu li:first-child { padding-left:0; background:none; }
#footer .area .menu:after { content:""; clear:both; display:block; }
#footer .area .menu a,
#footer .area .menu a:hover { font-family:'Nanum Gothic', 'NanumGothic', '나눔고딕'; font-size:12px; color:#5c5c5c; line-height:13px; font-weight:bold; }


#footer .area .address { margin:10px 0 35px; }
#footer .area .address ul { margin:0; padding:0; }
#footer .area .address li  { list-style:none; float:left; padding-left:20px; background:url(../images/inc/footer_address_bar.png) no-repeat 10px 5px; font-family:'Nanum Gothic', 'NanumGothic', '나눔고딕'; font-size:12px; line-height:20px; color:#7f7f7f; }
#footer .area .address li.type01  { list-style:none; float:left; padding-left:0; background:none; }
#footer .area .address:after { content:""; clear:both; display:block; }

#footer .area .family { position:absolute; right:0; top:24px; }
#footer .area .family ul { margin:0; padding:0; }
#footer .area .family li { list-style:none; float:left; margin-left:5px; }
#footer .area .family select { width:148px; height:21px; padding-left:5px; border:1px solid #b4b6bb; font-family:gulim; font-size:12px; line-height:20px; color:#454545; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
